<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WiiBalanceWalker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WiiBalanceWalker.Properties.Settings>
            <setting name="ActionLeft" serializeAs="String">
                <value>Key A</value>
            </setting>
            <setting name="ActionRight" serializeAs="String">
                <value>Key D</value>
            </setting>
            <setting name="ActionForward" serializeAs="String">
                <value>Key W</value>
            </setting>
            <setting name="ActionBackward" serializeAs="String">
                <value>Key S</value>
            </setting>
            <setting name="ActionModifier" serializeAs="String">
                <value>Key LShiftKey</value>
            </setting>
            <setting name="ActionJump" serializeAs="String">
                <value>Key Space</value>
            </setting>
            <setting name="ActionDiagonalLeft" serializeAs="String">
                <value>Mouse Move X</value>
            </setting>
            <setting name="ActionDiagonalRight" serializeAs="String">
                <value>Mouse Move X</value>
            </setting>
            <setting name="AmountLeft" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="AmountRight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AmountForward" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="AmountBackward" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AmountModifier" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmountJump" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmountDiagonalLeft" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="AmountDiagonalRight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TriggerLeftRight" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TriggerForwardBackward" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="TriggerModifierLeftRight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TriggerModifierForwardBackward" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="EnableJoystick" serializeAs="String">
                <value>False</value>
            </setting>
        </WiiBalanceWalker.Properties.Settings>
    </userSettings>
</configuration>